[Service]
Start = """
	/bin/sleep 10 >/dev/null 2>&1 &
	echo $! > /tmp/clustr-sleep.pid &&
	cat /tmp/clustr-sleep.pid
"""
Stop = "kill $(cat /tmp/clustr-sleep.pid)"
